{% load dict_extras %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Greenwish Port Tracking</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Signika:wght@300..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=directions_boat" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/index.css' %}"
    />
    <link rel="shortcut icon" href="../../../static/images/logo.jpg" />
  </head>
  <body>
    <div class="container">
      <header>
        <img src="{% static 'images/logo.jpg' %}" alt="Greenwish Port Tracking" class="img-logo" />
        <h2 class="titlePuerto">Greenwish Port Tracking:</h2>
      </header>

      <div id="update-notification" style="display:none; background:transparent; padding:10px; border: 2px solid #275037; margin-top:10px; border-radius: 20px; margin-bottom: 40px;"></div>

      <div id="loading-container" style="display: none;">
        <div class="spinner"></div> 
        <p>Cargando datos...</p> 
      </div>
      <div class="select-container">
        <form method="get">
          <select name="puerto" id="puerto" onchange="this.form.submit()">
            <option value="Valparaíso" {% if puerto == "Valparaíso" %}selected{% endif %}>Puerto seleccionado: Valparaíso</option>
            <option value="San Antonio" {% if puerto == "San Antonio" %}selected{% endif %}>Puerto seleccionado: San Antonio</option>
          </select>
        </form>
      </div> 

      <div class="actions">
        {% if datos %}
          <form method="POST" action="{% url 'descargar_excel_anunciadas' %}">
            {% csrf_token %}
            <button type="submit" name="descargar_excel_anunciadas" class="download-btn">
              Naves Anunciadas
              <svg
                class="download-icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                <polyline points="7 10 12 15 17 10"></polyline>
                <line x1="12" y1="15" x2="12" y2="3"></line>
              </svg> 
            </button>
          </form>
          
          <form method="POST" action="{% url 'descargar_excel' %}">
            {% csrf_token %}
            <input type="hidden" name="puerto" value="{{ puerto }}">
            <button type="submit" name="descargar_excel" class="download-btn">
              Planificación portuaria
              <svg
                class="download-icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                <polyline points="7 10 12 15 17 10"></polyline>
                <line x1="12" y1="15" x2="12" y2="3"></line>
              </svg>
            </button>
          </form>
        {% endif %}
      </div>

      {% if datos %}
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="puerto" value="{{ puerto }}">
          <div class="card-container">
            {% for item in datos %}
              <div class="card">
                <span 
                  class="material-symbols-outlined" 
                  style="
                    position: absolute;
                    top: 7px;
                    right: 7px;
                    width: 20px;
                    height: 20px;
                    opacity: 0.5;
                  "
                >
                  directions_boat
                </span>
                <label class='title-nave'>{{ item|get_item:clave }}</label>
        
                <div class="ship-details">
                  <ul id="details-list-{{ forloop.counter0 }}">
                    {% for key, value in item.items %}
                      <li><strong>{{ key }}:</strong> {{ value }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            {% endfor %}
          </div>
        </form>
      {% else %}
        <p>No se encontraron datos para el puerto {{ puerto }}.</p>
      {% endif %}
    </div>

    <script>
      document.querySelector('#puerto').addEventListener('onchange', function(event) {
        event.preventDefault();
        
        document.getElementById('loading-container').style.display = 'flex';
      
        setTimeout(function() {
          document.querySelector('form').submit();
        }, 3000);
      });
      

      function checkUpdates() {
        var puerto = "{{ puerto }}";
        fetch("{% url 'check_updates' %}?puerto=" + encodeURIComponent(puerto))
          .then(response => response.json())
          .then(data => {
            if (data.updates && data.updates.length > 0) {
              var message = "¡Se actualizaron las siguientes naves: " +
                data.updates.map(function(ship){ return ship["{{ clave }}"]; }).join(", ") +
                "!";
              var notifDiv = document.getElementById("update-notification");
              notifDiv.innerHTML = message;
              notifDiv.style.display = "block";
            }
          })
          .catch(error => console.error('Error al consultar actualizaciones:', error));
      }
      setInterval(checkUpdates, 60000);
      checkUpdates();

      document.querySelectorAll('.view-details').forEach(function(button) {
        button.addEventListener('click', function(e) {
          e.preventDefault();
          var idx = this.getAttribute('data-idx');
          var puerto = this.getAttribute('data-puerto');
  
          var detailsSection = document.getElementById('ship-details-' + idx);
          var viewDetailsButton = this; 
          var removeButton = this.closest('.ship-item').querySelector('.remove-ship');  
          var closeButton = detailsSection.querySelector('.close-details');
  
          if (detailsSection.style.display === 'none' || detailsSection.style.maxHeight === '0px') {
            viewDetailsButton.style.display = 'none';
            removeButton.style.display = 'none';

            fetch(`/detalle/${idx}/?puerto=${puerto}`)
              .then(response => response.json())
              .then(data => {
                  if (data.elemento) {
                    var detailsList = document.getElementById('details-list-' + idx);
                    detailsList.innerHTML = ''; 
                    for (var key in data.elemento) {
                      var li = document.createElement('li');
                      li.innerHTML = '<strong>' + key + ':</strong> ' + data.elemento[key];
                      detailsList.appendChild(li);
                    }

                    detailsSection.style.display = 'block'; 
                    setTimeout(() => {
                      detailsSection.style.maxHeight = detailsSection.scrollHeight + "px";
                    }, 10);
                  } else {
                    alert('No se encontró la nave');
                  }
              })
              .catch(error => {
                  console.error('Error al cargar los detalles:', error);
                  alert('Hubo un error al cargar los detalles. Intenta nuevamente.');
              });
          } else {
            viewDetailsButton.style.display = 'inline-block'; 
            removeButton.style.display = 'inline-block';

            detailsSection.style.maxHeight = '0px';
            setTimeout(() => { 
                detailsSection.style.display = 'none'; 
            }, 500); 
          }
  
          closeButton.addEventListener('click', function() {
            detailsSection.style.maxHeight = '0px';
            setTimeout(() => {
                detailsSection.style.display = 'none';
            }, 500);

            viewDetailsButton.style.display = 'inline-block';
            removeButton.style.display = 'inline-block';
          });
        });
      });
    </script>
  </body>
</html>
